
API_GATEWAY_HTTP_PUBLISH_PORT="8000"
API_GATEWAY_HTTP_PORT="8000"
API_GATEWAY_PPROF_HTTP_PUBLISH_PORT="6000"
API_GATEWAY_PPROF_HTTP_PORT="6060"

USER_SERVICE_GRPC_PUBLISH_PORT="3000"
USER_SERVICE_GRPC_PORT="8000"
USER_SERVICE_PPROF_HTTP_PUBLISH_PORT="6060"
USER_SERVICE_PPROF_HTTP_PORT="6060"

BOOK_SERVICE_GRPC_PUBLISH_PORT="3001"
BOOK_SERVICE_GRPC_PORT="8000"
BOOK_SERVICE_PPROF_HTTP_PUBLISH_PORT="6061"
BOOK_SERVICE_PPROF_HTTP_PORT="6060"

LENDING_SERVICE_GRPC_PUBLISH_PORT="3002"
LENDING_SERVICE_GRPC_PORT="8000"
LENDING_SERVICE_PPROF_HTTP_PUBLISH_PORT="6062"
LENDING_SERVICE_PPROF_HTTP_PORT="6060"

MONGO_PUBLISH_PORT="37017"
MONGO_PORT="27017"
